.gallery-container {
  padding: 100px 0px 100px 16.5%;
  @include s-d {
    padding: 0;
  }

  .row {
    display: flex;
    height: 550px;
    @include s-d {
      display: block;
    }
  }

  .row-one {
    .column-left {
      height: 100%;
      width: 40%;

      @include s-d {
        width: 100%;
      }

      img {
        @include img-cover;
      }
    }
    .column-right {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .text-rotate {
        font-size: 26pt;
        transform: rotate(90deg);
        color: $orange;
        @include s-d {
          display: none;
        }
      }
    }
  }

  .row-two {
    align-items: flex-end;
    position: relative;
    .column-left {
      height: 100%;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include s-d {
        width: 100%;
        align-items: center;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin-left: 20px;

        li {
          font-size: 14pt;
          letter-spacing: 2px;
          white-space: nowrap;
          padding-bottom: 15px;
          // hide for fade
          opacity: 0;
          @include m-d {
            font-size: 10pt;
          }
        }
      }

      .about-us {
        position: absolute;
        bottom: 15%;
        margin-left: 20px;
        border: solid $orange 1px;
        color: $orange;
        padding: 10px;
        font-size: 12pt;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        transition: all 0.5s;

        &:hover {
          cursor: pointer;
          background-color: $orange;
          color: white;
        }
      }
    }
    .column-right {
      width: 60%;
      height: 0%;
      @include s-d {
        display: none;
      }

      img {
        @include img-cover;
      }
    }

    .text-rotate {
      font-size: 13px;
      position: absolute;
      top: 20%;
      left: -100px;
      transform: rotate(-90deg);
      display: flex;
      align-items: center;

      .box {
        background-color: $orange;
        width: 8px;
        height: 8px;
        margin-right: 5px;
      }
    }
  }

  .row-three {
    margin-top: 100px;
    @include s-d {
      height: 100%;
    }
    .flex-left {
      height: 100%;
      width: 55%;
      display: flex;
      align-items: flex-end;
      @include s-d {
        width: 100%;
      }

      .column-left {
        width: 100%;
        height: 100%;
        img {
          @include img-cover;
        }
      }
    }

    .column-right {
      position: relative;
      @include s-d {
        position: static;
        height: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .title {
        color: $orange;
        font-size: 50pt;
        white-space: nowrap;
        position: absolute;
        top: 10%;
        left: -50%;
        @include Playfair;
        @include s-d {
          position: static;
          font-size: 40pt;
        }
        @include xs-d {
          position: static;
          font-size: 30pt;
        }
      }
      .flex {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        @include s-d {
          height: 40%;
          width: 100%;
          justify-content: center;
          text-align: center;
          position: relative;
        }

        ul {
          list-style-type: none;
          padding: 0;
          margin-left: 40px;
          @include s-d {
            margin-left: 0px;
          }

          li {
            font-size: 14pt;
            letter-spacing: 2px;
            white-space: nowrap;
            padding-bottom: 8px;
          }
        }

        .about-us {
          position: absolute;
          bottom: 30%;
          margin-left: 40px;
          border: solid $orange 1px;
          color: $orange;
          padding: 10px;
          white-space: nowrap;
          font-size: 12pt;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 1.5px;
          transition: all 0.5s;
          @include s-d {
            bottom: 15%;
            margin-left: 0px;
          }

          &:hover {
            cursor: pointer;
            background-color: $orange;
            color: white;
          }
        }
      }
    }
  }
}
