.header-container {
  height: 100vh;
  width: 100vw;
  position: relative;

  /* Background slider */
  .background-slider {
    background-color: $black;
    z-index: 100;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .background-img-container {
    height: 100%;
    width: 100%;
    img {
      @include img-cover;
      filter: brightness(40%);
    }
  }

  /* Banner start */
  .banner-container {
    height: 100%;
    width: 70%;
    @include center;
    display: flex;
    align-items: center;

    /* Banner title */
    .banner-title {
      position: absolute;
      top: 15%;
      left: 0;
      font-size: 24pt;
      @include Montserrat;
      font-style: bold;
      .title {
        color: white;
      }
    }

    /* Banner img */
    .banner-img-container {
      height: 90%;
      width: 60%;
      right: 0;
      position: absolute;

      img {
        @include img-cover;
      }
      @include m-d {
        display: none;
      }
    }

    /* Banner text */
    .banner-text-container {
      div {
        padding: 10px 0px;
        font-size: 6rem;
        color: white;
        z-index: 100;
        letter-spacing: 3px;
        @include Playfair;
        position: relative;
        @include m-d {
          font-size: 4rem;
        }
        @include s-d {
          font-size: 3rem;
        }
        @include xs-d {
          font-size: 2rem;
        }
      }
      .underline {
        border-bottom: white solid 1px;
      }
    }
  }
  /* Banner end */
}
